<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html" charset="utf-8" />
　　　   <title>{% if page.title %}{{page.title }}|{% endif %}Terry's Blog</title>
         <link rel="stylesheet" href="/css/styles.css" />

　　</head>
　　<body>
      <div id="main">
      	<header>Terry Tang</header>
      	<nav role="navigation">
      		<ul>
      			<li><a href="/">Home</a></li>
      			<li><a href="/about">About</a></li>
      			</ul>


      		</ul>
      	</nav>
     
　　　　{{ content }}
<footer><p>@copy;terrytang 2013|All Rights Reserved</p></footer>
</div>
　　</body>
　　</html>
